.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.memory {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	user-select: none;
}

@media (max-width: 414px) {
	.memory {
		width: 400px;
	}
}

@media (max-width: 375px) {
	.memory {
    width: 350px;
    margin-left: 12px;
	}
}

@media (max-width: 320px) {
	.memory {
		width: 200px;
		margin-left: 55px;
	}
}
