.hallOfFame {
    width: 100%;
    border-collapse: collapse;
}

.hallOfFame .date,
.hallOfFame .guesses,
.hallOfFame .player {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.hallOfFame tr:nth-child(even) {
    background: #eee;
}

.hallOfFame th {
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    text-align: center;
}